html,body {
    margin: 0;
    padding:0;
    background: #CEE6B4;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
.container{
max-width: 1200px;
margin: 0 auto;

}

.navbar {
    width: 100%;
    padding: 30px 0;
    background:#206A5D;
}

.navbar .button {
    background: transparent;
    color:#F1F1E8;
    border:none;
    font-size: 30px;
}


.content {
    width: 100%;
    padding-top: 40px;
    overflow: hidden;
}

.aside {
    flex: 1;
   
}

.article {
    flex: 3;
    padding-left: 20px;
    padding-right: 20px;
  
}

.article .image {
    width: 100%;
    height: 250px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0 0 30px;
}

.article .image img {
    width: 100%;
}
 .article .title {
     margin-top: 70px;
     text-align: center;
     font-family: sans-serif;

}

.article p {
    margin-bottom: 30px;
}

.aside {
    padding-left: 10px;
    padding-right: 10px;
}

.aside .search .search-button {
    background: seagreen;
    color:white;
    font-weight: bold;
    border: 2px solid seagreen;
    padding: 5px;
    border-radius: 15px;
    display: block;
    width: 100%;
    cursor: pointer;
    float: left;
    
}


.aside .search .search-input {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #C1AC95;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}

.aside .search .search-title {
    font-size: 15px;
    color: gray;
    font-family: sans-serif;
    text-align: center;
}

.photo2 {
    background:white;
    margin-top: 70px;
    border:solid 2px  #91C788;
    border-radius: 40px;
    padding: 24px;
    padding-bottom: 12px;
    text-align: center;
}


.image2 {
  
  border-radius: 20px;

}

.textR {
color: gray;
font-size: 12pt;
font-family: Arial, sans-serif;
}

.btn2 {
    display: inline-block;
    background:seagreen;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 20px;
    text-decoration: none;
   
}


.menu {
position: fixed;
top: 0;
right: 0;
width: 60vw;
height: 100vh;
background:#91C788;
padding: 40px;
transform: translateX(100%);
transition: .2s;
}

.menu.active {
    transform: translateX(0);
}

.menu  .link {
display: block;
color: white ;
font-size: 20pt;
text-align: center;
text-decoration: none;
padding: 0 30px;
margin-bottom: 50px;
transition: .2s;
}

.link:hover {
color: black;
transform: scale(1.2,1.2);
}

@media screen and  (min-width:768px){
    
   .content {
        display: flex;
    }

    .menu {
        width: 20vw;
    }

    .article .title {
        margin-top: 0;
    }
}

